.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
 height: 12vh;
 max-width: 50vh;
 margin-bottom: 1rem;
}
p{
  
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #0590ff;
}
h1{
    text-align: center;
    font-size: 15rem;
    font-family: 'Raleway', sans-serif;
    color: #272526 ;
    margin-bottom: 5rem;
    background: -webkit-linear-gradient(-86deg, #8046E5 0%, #0590ff 55%, #FD4A8D 95%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
}


// font-family: 'Montserrat', sans-serif;