.login {
  background-image: url('https://images.pexels.com/photos/144429/pexels-photo-144429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  /* Full height */
  // height: 200%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  @include respond(tab-land) {
    margin-top: 0rem;
    height: 100vh;
  }
}
.logo {
  height: 24vh;
  max-width: 50vh;
  margin-bottom: 2rem;
  @include respond(phone) {
    height: 15vh;
  }
}

h2 {
  text-align: center;
  font-size: 15rem;
  font-family: 'Akronim', sans-serif;
  color: rgba(255, 255, 255, 0.836);
  margin-top: 2rem;
  margin-bottom: 3rem;
  background: -webkit-linear-gradient(-56deg, #8046e5 0%, #0590ff 55%, #fd4a8d 95%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  @include respond(phone) {
    font-size: 6.5rem;
    color: rgba(255, 255, 255, 0.651);
  }
}
